
.animation-container {
  position: absolute;
  overflow: hidden;
  align-items: left;
  top: 100px;
  right: 200px;
}

.frame {
  width: 850px;
  height: 850px;
  align-items: center;
}

.frame img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

  animation: image-cycle 1s infinite step-start;
  animation-play-state: paused;
}

.frame:nth-of-type(1) img {
  animation-delay: 0s;
  opacity: 1;
}
.frame:nth-of-type(2) img {
  animation-delay: 0.5s;
  opacity: 0;
}
.frame:nth-of-type(3) img {
  animation-delay: 1s;
  opacity: 0;
}

.animation-container:hover img {
  animation-play-state: running;
}

@keyframes image-cycle {
  0% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  33.34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body {
  background-color: #121a1d;

}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #a5a6a2;
  font-weight: 450;
  font-size: 45px;
  font-display: left;
  position: absolute;
  top: 350px;
  left: 230px;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #a5a6a2;
  font-weight: 150;
  font-size: 30.5px;
  font-display: left;
  position: absolute;
  top: 398px;
  left: 230px;
}

a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #a5a6a2;
  font-size: 45px;
  text-align: center;
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #f78419;
}

.omne {
  top: 490px;
  left: 347px;
}

.designs {
  top: 485px;
  left: 333px;
}

.art {
  top: 480px;
  left: 385px;
}

.kontakt {
  top: 475px;
  left: 325px;
}

img {
  height: 80px;
  width: 80px;
  top: 45px;
  right: 250px;
  position: absolute;
}

a:hover {
  color: #f78419;
}

